SUITPAY_CLIENT_ID=""
SUITPAY_CLIENT_SECRET=""
SUITPAY_BASE_URL="https://ws.suitpay.app/api/v1"
SUITPAY_WEBHOOK_SECRET=""
APPWRITE_SERVER_API_KEY=""
APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="diamond-game"
APPWRITE_DATABASE_ID="diamond"
